@import "tailwindcss";

@theme {
  --color-primary: #cccc57;
  --color-secondary: #333333;
}

@layer components {
  .bottomBorder {
    @apply border-secondary border-b max-w-10 mb-1 pb-1;
  }
}

.fillter-white {
  filter: brightness(100%) saturate(100%) invert(100%) sepia(54%) saturate(2%)
    hue-rotate(133deg) brightness(110%) contrast(100%);
}
.active {
  color: #cccc57;
}
